.search-container {
    background-color: rgb(99, 115, 116);
    text-align: center;
    line-height: 40px;
}

.search-container input {
    width: 75%;
    text-align: center;
    font-size: large;
}



.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: 150px;
}

.shop-product-container {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    margin-left: 80px;
}

.shop-cart-container {
    background-color: rgba(255, 153, 0, 0.3);

}